<head>
  <title>
    {% if page.title %}{{ page.title | escape }} - 8千克笔记（8kg.net）
    {% elsif paginator.previous_page %}第{{ paginator.page }}／{{ paginator.total_pages }}页 - 8千克笔记（8kg.net）
    {% else %}8千克笔记 - 思想有多远，我们就能扯多远……（8kg.net）
    {% endif %}
  </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <meta property="author" content="熊の猫">
  <link rel="dns-prefetch" href="//tcb-api.tencentcloudapi.com">
  <link rel="dns-prefetch" href="//lib.baomitu.com">
  <link rel="dns-prefetch" href="//china.s3.bitiful.net">
  <link rel="stylesheet" href="//lib.baomitu.com/font-awesome/6.3.0/css/all.min.css">
  <link rel="stylesheet" href="/main.min.css?v=5">
  <link rel="apple-touch-icon" sizes="180x180" href="//china.s3.bitiful.net/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="//china.s3.bitiful.net/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="//china.s3.bitiful.net/icons/favicon-16x16.png">
  <link rel="manifest" href="//china.s3.bitiful.net/icons/site.webmanifest">
  <link rel="mask-icon" href="//china.s3.bitiful.net/icons/safari-pinned-tab.svg" color="#ffc40d">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="theme-color" content="#ffc40d">
  <link rel="alternate" type="application/atom+xml" title="RSS of 8kg.net" href="//8kg.net/feed.xml">
  {% feed_meta %}
</head>
