<head>
  <title>
    {% if page.title %}{{ page.title | escape }} - Cathay.blog（华文小站）
    {% elsif paginator.previous_page %}第{{ paginator.page }}／{{ paginator.total_pages }}页 - 华文小站（Cathay.blog）
    {% else %}Cathay.blog（华文小站）
    {% endif %}
  </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <meta property="author" content="熊の猫">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="msapplication-config" content="//files.oicp.io/blogo/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <link rel="dns-prefetch" href="//tcb-api.tencentcloudapi.com">
  <link rel="dns-prefetch" href="//cravatar.cn">
  <link rel="dns-prefetch" href="//cdn.staticfile.org">
  <link rel="dns-prefetch" href="//files.oicp.io">
  <link rel="stylesheet" href="/main.min.css">
  <link rel="apple-touch-icon" sizes="180x180" href="//files.oicp.io/blogo/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="//files.oicp.io/blogo/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="//files.oicp.io/blogo/favicon-16x16.png">
  <link rel="manifest" href="//files.oicp.io/blogo/site.webmanifest">
  <link rel="mask-icon" href="//files.oicp.io/blogo/safari-pinned-tab.svg" color="#da532c">
  <link rel="shortcut icon" href="//files.oicp.io/blogo/favicon.ico">
  <link rel="alternate" type="application/atom+xml" title="Y.cool's RSS" href="//cathay.blog/feed.xml">
  {% feed_meta %}
</head>
