<head>
  <title>
    {% if page.title %}{{ page.title | escape }} - Cathay.blog（华文小站）
    {% elsif paginator.previous_page %}第{{ paginator.page }}／{{ paginator.total_pages }}页 - 华文小站（Cathay.blog）
    {% else %}Cathay.blog（华文小站）
    {% endif %}
  </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <meta property="author" content="熊の猫">
  <link rel="dns-prefetch" href="//tcb-api.tencentcloudapi.com">
  <link rel="dns-prefetch" href="//cravatar.cn">
  <link rel="dns-prefetch" href="//cdn.staticfile.org">
  <link rel="dns-prefetch" href="//y.cooly.cool">
  <link rel="stylesheet" href="/main.min.css">
  <link rel="stylesheet" href="//cdn.staticfile.org/font-awesome/6.2.1/css/all.min.css">
  <link rel="icon" type="image/png" sizes="32x32" href="//y.cooly.cool/cath/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="//y.cooly.cool/cath/favicon-16x16.png">
  <link rel="apple-touch-icon" sizes="180x180" href="//y.cooly.cool/cath/apple-touch-icon.png">
  <link rel="manifest" href="//y.cooly.cool/cath/site.webmanifest">
  <link rel="alternate" type="application/atom+xml" title="Y.cool's RSS" href="//cathay.blog/feed.xml">
  {% feed_meta %}
</head>
