<header class="nav">
  <div class="nav-container">
    <a title="赤县小站-Cathay.blog" href="{{ site.baseurl }}/">
		<div class="logo"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 0v512h512V0H0zm223.1 338.6l-29.1-40-28.8 39.7-38.8-28.3 28.7-39.6-45.7-14.8 14.8-45.7 45.6 14.8.1-.4V175h48v49.2l47.4-15.4 14.8 45.7-47.4 15.4.1.4-.2.1 29.1 40.1-38.6 28.1zM314 381h-45v-45h45v45zm0-204h-45v-45h45v45zm61 146h-45v-45h45v45zm0-91h-45v-45h45v45z" fill="#f99"></path></svg></div>
	</a>
    <h1 class="hidden">赤县小站-Cathay.blog</h1>
	<div class="desktop">
		<ul>
			<li><a href="{{ '/archive' | prepend: site.baseurl }}" style="color:#61bfad">归档</a></li>
			<li><a href="{{ '/about' | prepend: site.baseurl }}" style="color:#fd8b8b">作者</a></li>
			<li><a href="{{ '/friend' | prepend: site.baseurl }}" style="color:#ffab00">朋友</a></li>
			<li><a href="{{ '/search' | prepend: site.baseurl }}">Cathay.blog</a></li>
		</ul>
	</div>
	<div class="dropdown">
		<button class="dropbtn">☰</button>
		<div class="dropdown-content">
			<a href="{{ '/archive' | prepend: site.baseurl }}">归档</a>
			<a href="{{ '/about' | prepend: site.baseurl }}">作者</a>
			<a href="{{ '/friend' | prepend: site.baseurl }}">朋友</a>
			<a href="{{ '/search' | prepend: site.baseurl }}">检索</a>
		</div>
	</div>
  </div>
</header>
